h1 {
    text-decoration: "center";
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(251, 92, 7);
    display: flexbox;
    align-items: center;
    background-color: rgb(238, 238, 158);
}

h2 {
    text-decoration: "center";
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2e0efa;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form div {
    margin-bottom: 10px;
    text-align: center;
    margin: 15px;



}

button {
    background-color: #290ce7;
    border: none;
    color: rgb(239, 243, 4);
    padding: 15px 40px;
    margin: 2px 2px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 250px;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #cf0909;
}

fieldset {
    width: 500px;
    height: auto;
    text-align: center;
    border-radius: 20px;
    border-style: groove;
    border-color: rgb(251, 92, 7);
    background-color: #fbf9c5;
}

#errors {
    color: red;
}

#error-message {
    color: rgb(164, 7, 7);
    margin: 5px 0;
}

#receipt {
    margin-top: auto;
    display: inline-table;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80%;
    border: 1px solid #ccc;



}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgb(223, 252, 208);
}

table,
th,
td {
    border: 1px solid rgb(21, 5, 240);
}

th,
td {
    padding: 10px;
    text-align: left;
}