body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  text-align: center;
}
h1 {
  color: rgb(88, 3, 92);
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  font-size:xx-large;
}

.products {
  display : inline-flex;
  flex-wrap: wrap;
  height: 450px;
  justify-content: center;
  background-color: rgb(217, 220, 245);
}


.product-list {
  border: 1px solid #fbf8fb;
  padding: 30px;
  margin: 20px;
  width: 150px;
  height:270px;
  box-shadow: 5px 5px 15px #d2bcd2;
  background-color: rgb(250, 246, 253);
}
body {
  background-color: rgb(239, 246, 244);
}

button {
  padding: 10px 20px;
  background-color: #f1bfbf;
  border: none;
  color: rgb(72, 4, 4);
  cursor: pointer;
}
button:hover{
  background-color: #50e1ef;
}

#checkoutButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
}


#customerName {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#checkoutButton {
  width: 100%;
  display:none;
  margin-bottom: 20px;
}

#receipt {
  display : block;
  justify-content: center;
  width: 100%;
  height: 80%;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(255, 206, 255);
}

img {
  width: 150px;
  height: 200px;
}
