<header>
    <h1 class="logo">&#127919; SPORTS SPHERE &#127919;</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/orders">Orders</a></li>
        </ul>
    </nav>
</header>
